# Assignment 2  - Exploratory Data Analysis

In [ ]:
import pandas as p
import numpy as np

##### 1. Reading The File

In [ ]:
data=p.read_csv("data.csv")# Read csv file
data

##### 2. Fill/Drop NaN Values Using Appropriate Method

In [ ]:
data.isna()# check for NULL Values

In [ ]:
data.info()

In [ ]:
data.count()

In [ ]:
tmp=data.dropna()

In [ ]:
tmp.info()

In [ ]:
tmp=data.select_dtypes(np.number)    #Selection of only numeric values

In [ ]:
tmp

In [ ]:
f1=data.groupby(['Make','Model']) #Grouping based off Make And Model to fill Null Values in Engine

In [ ]:
type(data)
data['Engine HP']=f1['Engine HP'].transform(lambda k :k.fillna(k.mean()))
data['Engine Cylinders']=f1['Engine Cylinders'].transform(lambda x:x.fillna(x.mode))
f1['Engine HP'].mean().count()                       # So Mean Makes more sense here to fill nan values as we categorise the data into make and model and each make with specific model must have similar HP

data.info()

In [ ]:
tmp=data.select_dtypes(np.number)

tmp=tmp.dropna()
tmp.info()

##### 3.Check For Outliers in the given Data

In [ ]:
# Checking for Outliers
col=['Make','Engine HP']
df=data[col]
k=df.groupby('Make')
k.boxplot()

In [ ]:
#Function to compute inter quartile number
def iqr(data,col):
    q1=data[col].quantile(0.25)
    q3=data[col].quantile(0.75)
    iqr=q3-q1
    return iqr,q3,q1

In [ ]:
# Sanity checks for Outlier If Any we will replace the data 
iqr,q1,q3=iqr(df,'Engine HP')
lower=q1-1.5*iqr
upper=q3+1.5*iqr
df[(df['Engine HP']<lower) & (df['Engine HP']>upper)]
# This shows that there are no outliers in the 'Engine HP ' column
(df['Engine HP']<lower)

In [ ]:
df[(df['Engine HP']>lower) & (df['Engine HP']<upper)] #print non outlier value

In [ ]:
col1=['Make','highway MPG','city mpg']
df1=data[col1]
k1=df1.groupby('Make')
k1.boxplot()

In [ ]:
iqr,q1,q3=iqr(df1,'highway MPG')
lower_h=q1-1.5*iqr
upper_h=q3+1.5*iqr

In [ ]:
iqr1,q1,q3=iqr(df1,'city mpg')
lower_h=q1-1.5*iqr1
upper_h=q3+1.5*iqr1

In [ ]:
df1[(df1['highway MPG']<lower_h)&(df1['highway MPG']>upper_h)]  # NO OUTLIERS PResent

In [ ]:
df1[(df1['city mpg']<lower_h)&(df1['city mpg']>upper_h)] ## NO OUTLIERS PResent

##### 4.Unique Values in the Table

In [ ]:

tmp.Year.unique()

In [ ]:
tmp.info()

In [ ]:
tmp['Engine HP'].unique()

In [ ]:
tmp['Number of Doors'].unique()

In [ ]:
tmp['MSRP'].unique()

In [ ]:
data['Model'].unique()

In [ ]:
data['Make'].unique()

In [ ]:
data['Popularity'].unique()

In [ ]:
data['Transmission Type'].unique()

In [ ]:
data['Vehicle Size'].unique()

In [ ]:
data['Vehicle Style'].unique()

In [ ]:
data=data.dropna()

In [ ]:

data.drop(['Market Category'],axis=1)

In [ ]:
data=data.dropna()

###### 5.Average of  Engine HP with Manual Transmission Type

In [ ]:
gp1=data.groupby(['Transmission Type','Driven_Wheels'])

op1=gp1['Engine HP'].mean()

In [ ]:
op1

In [ ]:
op1['MANUAL']['rear wheel drive']

##### 6.Min ,Max, Avg for Different car's city mileage

In [ ]:
g2=data.groupby(['Make','Vehicle Style'])

In [ ]:
g2['city mpg'].mean()

In [ ]:
g2['city mpg'].median()

In [ ]:
g2['city mpg'].min()

In [ ]:
g2['city mpg'].max()

##### 7.Quick Plots for visualisation

In [ ]:
import seaborn as s
s.pairplot(data)