### Read Excel file in Pandas

In [ ]:
import pandas as pd
data=pd.read_csv("titanic.csv")

In [ ]:
type(data)                      #type dataframe

In [ ]:
data.info()  #shows info of data

In [ ]:
data.describe() # takes numeric columns and provide descriptive statistical analysis of the data

In [ ]:
data.head()        #shows first 5 entries

In [ ]:
data.tail()   #prints last 5 rows of data

## Drop data

In [ ]:
dataset =data.drop(['Cabin','Parch','Ticket','PassengerId'],axis=1 )  #specify name of column  #if >50% of NaN values in a table drop the column
#drop a column using axis =1 -> return a new dataframe object

In [ ]:
dataset.info()

In [ ]:
tmp=dataset.dropna()   #drop all null values when nothing ()
tmp.info()

In [ ]:
tmp.head(7)

### Filling Missing Values

##### check the range of values or check the distribution if normal use mean or use mode when skewed

In [ ]:
dataset['Age']=dataset['Age'].fillna(round(dataset['Age'].mean(),2)) 
#Try to avoid loops  in pandas as functions are already available.
#mean function ignores null values

In [ ]:
dataset.head(7)

In [ ]:
#Group as in description
dataset['Age'].fillna(round(dataset[dataset['Desc']=='Adult']['Age'].mean(),2))

In [ ]:
dataset.head(19)

In [ ]:
dataset.info()

In [ ]:
gp=dataset.groupby(['Sex','Desc'])    #do not return dataframe

In [ ]:
gp['Age'].mean()    #Mean computed

In [ ]:
gp.get_group(('male','Child'))     # return data frame containing gender male and desc child can also be done via boolean indexing

In [ ]:
## Transform function   ... to putback data to dataframe transform takes func as arg 
dataset['Age']=gp['Age'].transform(lambda k:k.fillna(k.mean()))## PAss gp['Age'] as arg to lambda fn ..

In [ ]:
add=lambda x,y: x+y      #Anonymous function.
add(1,2)

In [ ]:
dataset.tail()

In [ ]:
dataset.info()
dataset=dataset.dropna()
dataset.info()

###### Outliers

In [ ]:
## Box Plot used for outlier detections
col=['Pclass','Fare']

In [ ]:
df=dataset[col]

In [ ]:
df                      #contain only 2 col

In [ ]:
g1=df.groupby("Pclass")

In [ ]:
g1.boxplot()    #whisker defines boundaries

                # q2 median values find q1,q3 value
                #find interquantile range(iqr) ==(q3-q1)
                #1.5*iqr 
                #lower threshold(Lower Whisker)=q1-(1.5*iqr)
                #Upper Whisker =q3+(1.5*iqr)

In [ ]:
def iqr(data,col):
    q1=data[col].quantile(0.25)
    q3=data[col].quantile(0.75)
    iqr=q3-q1
    return iqr,q1,q3

In [ ]:
iqr,q1,q3=iqr(df,'Fare')

In [ ]:
l_whis=q1-1.5*iqr
u_whis=q3+1.5*iqr

In [ ]:
df[(df['Fare']>l_whis)& (df['Fare']<u_whis)]

In [ ]:
df